*{
    margin:0;
    padding:0;
    box-sizing:border-box;}

    .nav{
        background-color: white;
        border-radius: 10px;
        
    }

    
    div {
        display:flex;
        justify-content:center;

    }

    
    